*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Open Sans', sans-serif;
 font-weight: 600;
}


/* DEBUG */

.debug {
  border: 2px solid black;
  width: 100%;
}

.debug.dred {
  background-color: red;
}

.debug.dgreen {
  background-color: green;
}

.h {
  height: 500px;
}

.hbig {
  height: 1000px;
}


/* /END DEBUG------------------------------------------- */

/* GENERAL---------------------------------------------- */

.blue {
  background-color: #0061ff;
  color: white;
}
.light-blue {
  background-color:#b4d0e7 ;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
}

section:not(.jumbotron) {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}
/* HEADER----------------------------------------------- */

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  padding-left: 20px;
  width: 150px;
}

header ul {
  justify-content: space-around;
}
header ul li {
  padding: 0 25px;
  font-size: 1.1rem;
}

header ul li a {
  color: white;
}

/* MAIN--------------------------------------------------- */

/* section1 */

.jumbotron {
  justify-content: center;
  align-items: center;
  position: relative;
}

.jumbotron>.container {
  width: 90%;
  max-width: 1300px ; 
}

.jumbotron h1 {
  font-size: 5.5rem;
  font-weight: 900;
  padding: 80px 0 55px 0;
  width: 100%;
}

.jumbo-left {
  width: 35%;
  font-size: 1.1rem;
  gap: 40px;
}

.jumbo-left a {
  align-self: flex-start;
}

.jumbo-filler {
  width: 65%;
  height: 435px;
}

.jumbo-filler img {
  width: 110%;
}

.fa-arrow-down {
  font-size: 4rem;
  font-weight: 900;
  padding-top: 40px;
 
}

/* section 2 */

section:nth-child(2) h2 {
  padding: 200px 0 50px 0;
  font-size: 2.7rem;
  font-weight: 800;
}

section:nth-child(2) span {
  vertical-align: middle;
  margin-right: 45px;
}
.circle {
  border: 3px solid lightgray;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

.circle-active {
  border: 5px solid #0061ff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}
