*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
 font-family: 'Open Sans', sans-serif;
 font-weight: 600;
}


/* DEBUG */

.debug {
  border: 2px solid black;
  width: 100%;
}

.dred {
  background-color: red;
}

.dgreen {
  background-color: green;
}

.height {
  height: 1400px;
}
.hsmall {
  height: 400px;
}
.hbig {
  height: 4000px;
}


/* /END DEBUG------------------------------------------- */

/* GENERAL---------------------------------------------- */

section:nth-child(2),
section:nth-child(3),
section:nth-child(4),
section:nth-child(7)   {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}

.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.start {
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.inline-block {
  display: inline-block;
}

.btn {
  padding: 10px 20px;
}
.big.btn {
  padding:  12px 40px;
}
.big.btn.spec {
  padding: 12px 100px;
}

.lightgrey {
  color: rgb(109, 109, 109);
}
.blue {
  background-color: #0061ff;
  color: white;
}
.light-blue {
  background-color:#b4d0e7 ;
}
.purple-link {
  text-decoration: underline;
  color: #673397;
}
/* HEADER----------------------------------------------- */

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.363);
  min-width: 1300px;

  position:fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

header img {
  padding-left: 20px;
  width: 150px;
  min-width: 150px;
}

header ul {
  justify-content: space-around;
}
header ul li {
  padding: 0 25px;
  font-size: 1.1rem;
}

header ul li .blue.btn {
  color: white;
}

header a {
  color: black;
}

header .underlined:hover {
  border-bottom: 3px solid black;
  padding-bottom: 28px;
}





/* MAIN--------------------------------------------------- */
main {
  padding-top: 80px;
}
/* section1 */

.jumbotron {
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 1350px;
}

.jumbotron>.container {
  width: 90%;
  max-width: 1300px ; 
}

.jumbotron h1 {
  font-size: 5.5rem;
  font-weight: 900;
  padding: 80px 0 55px 0;
  width: 100%;
}

.jumbo-left {
  width: 35%;
  font-size: 1.1rem;
  gap: 40px;
}

.jumbo-left a {
  align-self: flex-start;
}

.jumbo-filler {
  width: 65%;
  min-width: 60%;
  height: 435px;
  
}

.jumbotron img {
  width: 900px;
  
  position: absolute;
  bottom: -100px;
  left: 40%;
}

.fa-arrow-down {
  font-size: 4rem;
  font-weight: 900;
  padding-top: 40px;
  padding-bottom: 20px;
  color: black;
}

/* section 2 */

section:nth-child(2) h2 {
  padding: 150px 0 50px 0;
  font-size: 2.7rem;
  font-weight: 800;
}

section:nth-child(2)>span {
  vertical-align: middle;
  margin-right: 45px;
}
.circle {
  border: 3px solid lightgray;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

.circle-active {
  border: 5px solid #0061ff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}
/* card offerte!!!!!! */


.card-container {
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}

.small.card {
  width: 31%;
  border: 1px solid lightgray;  
}

.card-title {
  align-self: center;
  padding: 10px 0;
}

.card-body {
  padding: 35px 30px;
}

.card-body h3 {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
.card-body span {
  padding-bottom: 10px;
}
.card-body span:nth-child(3) {
  padding-bottom: 30px;
}
.card-body .big.btn {
  font-size: 1rem;
  
  margin: 40px 0;
}

 .card-body hr {
  margin: 35px 0 50px 0 ;
  width: 55px;
  color: lightgrey;
}
.card-body h5 {
  font-size: 1rem;
  font-weight:bolder;
}
.card-body ul {
  list-style-position: inside;
}
.card-body ul li {
  padding: 15px 0;
  margin-left: -22px;
}
.card-body ul li span {
  display: inline;
 }
 .card-body .fa-check {
  color: #0061ff;
  font-size: 1.1rem;
 }

/* SECTION 3 */

section:nth-child(3) {
  padding-top: 220px;
}
.partner-img {
  width: 60%;
}

.partner-img img {
  width: 100%;
}

.partner-finder {
  width: 40%;
  justify-content: center;
  padding: 40px;
}

.partner-finder h4 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 30px 0 15px 0;
}

.partner-finder p {
  font-size: 1.1rem;
  margin-bottom: 50px;
}

.partner-finder a {
  border: 1px solid #3d3d3d;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #3d3d3d;
}



/* SECTION 4------------------------- */

.db-business {
  padding-top: 120px;
}
.db-business h2 {
  font-size: 2.8rem;
  margin-bottom: 80px;
}

.business-card {
  width: 31%;
  margin-bottom: 50px;
  transition: transform 1s ease, box-shadow 1s ease;
  
}

.business-card img {
  width: 100%;
}

.business-card h3 {
  font-size: 1.6rem;
  font-weight: 800;
  padding-bottom: 32px;
}

.business-card p {
  font-size: 1.15rem;
}

.end-section {
  width: 64%;
  margin-top: 180px;
}
.end-section h2 {
  font-weight: 800;
}

.business-card:hover {
  transform: scale(1.2);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px black, -5px 0 10px black;
  padding: 10px;
  cursor: pointer;
}
.business-card:hover h3 {
  color: #0061ff;
  text-decoration: underline;
}


/* SECTION 5 ----------------------------*/



.square-container {
  height: 33vw;
  margin-top: 150px;
  width: 100%;
}

.square.container {
  width: calc(100% / 3);
  height: 100%;
}

.small-square {
  height: 50%;
  width: 50%;
  align-items: center;
}

.square.container.side img {
  filter: invert(100%);
  width: 50%;
}

.square.container.central {
  margin: 0 auto;
  padding: 2.5%;
  overflow-y: auto;
  background-color: #f5f5f5;
}
.square.container.central img {
  width: 50%;
}

.square.container.central hr {
  width: 100px;
  margin: 35px 0;
  color: lightslategray;
}

.square.container.central p {
  padding-bottom: 50px;
}
.greensquare {
  background-color: #a2d39b;
  
}
.darkredsquare {
  background-color:#61082b ;
}

.azuresquare {
  background-color: #0093ce;
}

.redsquare {
  background-color:#ff1c1c ;
}
.deepredsquare {
  background-color: #d5001f;
}

.lightazuresquare {
  background-color:#b4d0e7 ;
}
.bluesquare {
  background-color:#0d2481 ;
}
.yellowsquare {
  background-color:#ffd830 ;
}

.small-square:hover .mask {
  border: 20px solid rgba(255, 255, 255, 0.426);
}

.small-square {
  position: relative;
}
.mask {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* SECTION 6------------------------------- */

.db-business-download {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
  height: 360px;
  align-items: center;

  
}

.db-business-download h2 {
  color:#61082b ;
  font-size: 2.5rem;
  font-weight: 800;
}

.db-business-download .left-section {
  width: 45%;
}

.db-business-download .right-section {
  width: 45%;
}

.db-business-download .btn {
  background-color: white;
  color: black;
}



/* SECTION 7 ---------------------------------- */

.faq {
  padding-top: 150px;
}
.faq h2 {
  font-size: 2.5rem;
  padding-bottom: 30px;
}

.faq hr {
  margin: 40px 0;
}


.faq .row p {
  font-weight: 800;
}

.hidden-text1,
.hidden-text2,
.hidden-text3 {
  padding-top: 20px;
  display: none;
}

.text-opener1:hover .fa-chevron-down {
  position: relative;
  animation: 5s pointing linear;
  animation-iteration-count: infinite;
  transform: rotate(90deg);
  transition: ease-in-out;
}

.text-opener2:hover .fa-chevron-down {
  position: relative;
  animation: 5s pointing linear;
  animation-iteration-count: infinite;
  transform: rotate(90deg);
  transition: ease-in-out;
}

.text-opener3:hover .fa-chevron-down {
  position: relative;
  animation: 5s pointing linear;
  animation-iteration-count: infinite;
  transform: rotate(90deg);
  transition: ease-in-out;
}

@keyframes pointing {
  0% { left: 0px;}
  25% {left: -120px;}
  50% {left: 0px;}
  75% {left: -120px;}
  100%{left: 0px;}
}

.text-opener1:hover .hidden-text1 {
  display: block;
}
.text-opener2:hover .hidden-text2 {
  display: block;
}
.text-opener3:hover .hidden-text3 {
  display: block;
}

/* FOOTER ---------------------------------------- */

footer {
  background-color: black;
  color: white;
  margin-top: 110px;
}

.container-footer-menu {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
  padding: 100px 0;
}

.container-footer-menu h3 {
  font-size: 1.5rem;
  padding-bottom: 33px;
}

.container-footer-menu ul li {
  padding-bottom: 20px;
}
.container-footer-menu a {
  color: white;
}

footer hr {
  color: white;
  width: 120px;
}

.language {
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
  color: rgb(129, 129, 129);
}

.language span {
  display: inline-block;
  margin: 50px 0;
}

/* EFFETTI */

.btn:hover {
  filter: brightness(80%);
}

.btn-wht:hover {
  background-color: #3d3d3d;
  color: white;
  border: 3px solid black;
}

.purple-link:hover {
  text-decoration: none;
}

header ul li a:hover {
  color: #3d3d3d;
}
footer ul li a:hover,
header ul li a:hover {
  color: #0061ff;
}


header hr {
  color: black;
  position:fixed;
  top: 82px;
  left: 180px;
  width: 150px;
  z-index: 999;
}